@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.flickity-button {
    background-color: white;
}

.flickity-button:hover {
    background-color: black;
    color: white;
}

/* .flickity-page-dots {
    display: none;
} */

.flickity-page-dots .dot {
    background-color: #bbb;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}

.profile {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/e178a4e7-4f52-4661-b2ae-41efa25dca7c/60dd20cf-7213-48a1-b253-6484d62d96a8/IN-en-20210222-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size: contain;
}

.remove-movie:hover {
    stroke: #e50914;
}

.add-play:hover {
    stroke: #21d07a;
}

.rate-svg:hover {
    fill: #FFD700;
}








