@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.flickity-button {
    background-color: white;
}

.flickity-button:hover {
    background-color: black;
    color: white;
}

/* .flickity-page-dots {
    display: none;
} */

.flickity-page-dots .dot {
    background-color: #bbb;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}

.profile {
    background-image: url('/public/img/login-register.jpeg');
    background-size: contain;
}

.remove-movie:hover {
    stroke: #e50914;
}

.add-play:hover {
    stroke: #21d07a;
}

.rate-svg:hover {
    fill: #FFD700;
}


  








