@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.flickity-button {
    background-color: white;
}

.flickity-button:hover {
    background-color: black;
    color: white;
}

/* .flickity-page-dots {
    display: none;
} */

.flickity-page-dots .dot {
    background-color: #bbb;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}

.profile {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/e178a4e7-4f52-4661-b2ae-41efa25dca7c/60dd20cf-7213-48a1-b253-6484d62d96a8/IN-en-20210222-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size: contain;
}

.list-svg:hover {
    stroke: #e50914;
}

.add-to-list:hover {
    stroke: #f97316;
}

/* Text on hover: Add to My List */
.add-to-my-list {
    position: relative;
    color: #333;
    text-decoration: none;
  }

  .add-to-my-list::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.8rem;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(-10px);
  }

  .add-to-my-list:hover::after {
    opacity: 1;
    transform: translateY(0);
  }




